<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Good News</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/MyStyles.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-nav-bar">
            <div class="container">
                <div>
                    <a class="navbar-brand" href="javascript:home()">Good News</a>
                    <a class="navbar-brand" href="javascript:news()">Читать</a>
                </div>
                <div class="btn-group">
                    <a type="button" class="navbar-brand account-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @if (User.Identity is { IsAuthenticated: true })
                        {
                            @User.Identity.Name
                        }
                        else
                        {
                            @Html.Raw("Аккаунт")
                        }
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        @if (User.Identity is { IsAuthenticated: true })
                        {
                            <a class="dropdown-item" href="javascript:myAccount()">Кабинет</a>
                            <div class="dropdown-divider"></div>
                            <a id="exitBtn" class="dropdown-item btn-danger" href="javascript:exit()">Выход</a>
                        }
                        else
                        {
                            <a class="dropdown-item" href="javascript:login()">Вход</a>
                            <a class="dropdown-item" href="javascript:register()">Регистрация</a>
                        }
                    </div>
                    <form id="exitForm" method="post" asp-controller="Account" asp-action="LogOut">
                        <input class="btn btn-danger mb-2" type="hidden"/>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <div class="container medium-size pd-from-nav">
        <main roleDtoDto="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - GoodNewsAgregator - <a asp-area="" asp-controller="Home" asp-action="Privacy">Политика конфиденциальности</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.7.2.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/redirections.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
