@using GoodNewsAggregator.Core.DTO;
@using GoodNewsAggregator.Views.Constants;
@model NewsOnPage
@{
    ViewData["Title"] = "Main pageNumber";
}

<div class="text-center">
    <h1 class="display-4">Агрегатор хороших новостей</h1>
</div>

<div class="row">
    @foreach (var article in Model.Articles)
    {
        <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
            <div class="article-card mr-n2 ml-n2">
                <div class="float-left ml-1">Хорошесть:</div>
                <div class="text-right mr-1">@article.Date.ToShortDateString()</div>
                <div class="float-left ml-1">@(article.GoodFactor * 100)%</div>
                <div class="text-right mr-1">@article.Date.ToShortTimeString()</div>
                <div class="text-left ml-1 mr-1 mt-2">Источник: 
                    <a class="font-weight-bold read-next" href="@article.Source">@article.RssName</a>
                </div>
                <div class="text-left ml-1 mr-1 mt-2 mb-1">
                    <a class="font-weight-bold read-next" asp-action="Article" asp-route-id="@article.Id">@article.Title</a>
                </div>
            </div>
        </div>
    }
</div>

<div class="text-center">
    <pagination page="Model.PageInfo" page-action="Main"></pagination>
</div>